{% extends 'base.html' %}
<!-- {{object_list}} -->

{% block title %}
Eliminar Empleado
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell" style="text-align: center;">Eliminar datos del Empleado {{ object.full_name }}</h1>
        <form class="cell grid-margin-x" action="" method="POST"> {% csrf_token %}
            <div class="callout alert">
                <p class="cell">Confirme que desea Eliminar</p>
                <button class="button alert" type="submit">Confirmar</button>    
            </div>   
        </form>
    </div>
</div>
{% endblock content%}

